Merge NOTICE and PRIVMSG into MESSAGE and replace with intents.

This is just an initial proposal for my idea. If it gets approval I will write up a specification for it once message intents have been reworked.

---

## Why?

PRIVMSG and NOTICE are basically the same and in some implementations (e.g. InspIRCd) are even handled using the same code. They were separate commands because of the lack of a method of describing differences in behaviour but now we have intents there is no reason to keep that separation.

## What replaces the behaviour of NOTICE?

The following intents are defined which replace the behaviour of NOTICE:

- `no-reply` &mdash; replaces the "do not automatically respond" behaviour of NOTICE as defined in RFC 1459 section 4.4.2.
- `whisper` &mdash; replaces the commonly implemented but non-standard behaviour of NOTICE where the message is shown inline in the active window rather than in a query window.

## Why not just merge NOTICE into PRIVMSG?

I have seen a lot of client implementers get confused over the name `PRIVMSG`. From a first glance it's name suggests that it is for *priv*ate *m*e*s*sa*g*es only even though this is not the case. I believe this is legacy from IRCv1.

The command name `MESSAGE` is something we can bikeshed over once the rest is nailed down. If we wished to avoid confusion with message as in the message format we could use something else e.g. `CHAT` instead.

I'd prefer merging `NOTICE` into `PRIVMSG`, it would mean not adding *another* command that needs to get parsed. But that's just my 2¢.

if we are going to make a replacement for `PRIVMSG` it would be desirable to correct the invariant concerning channel and user targets (which would be a step in the direction of allowing prefixless channels at some point in the distant future).

I'd probably go with `PUBLIC` and `PRIVATE`, rather than `MESSAGE`; additionally, `whisper` seems strange when the actual problem is that servers are issuing notices for specific channels and having them pop up in the status window rather than the relevant channel. The solution for that would probably be a 'target' or 'channel' intent.

This proposal also needs to take actions into consideration, most likely via `act` or `action` intent.

I definitely feel that this would be an appropriate time to correct the mistake of naming a command PRIVMSG which isn't used for private messaging.

@Aerdan I don't understand the need for `PUBLIC` and `PRIVATE` commands. What is the use-case here? However I do agree that some sort of target intent would be a good plan.

@Aerdan For action we can probably just allow multiple intents separated by commas e.g. 

    @intent=whisper,action :SaberUK!petpow@saberuk.com MESSAGE Aerdan :puts on their robe and wizard hat.

@tilal6991 The idea behind splitting it is that `PUBLIC` is only ever for channels and `PRIVATE` is only ever for users; this way, the namespace for users and channels can be split at some future time without breaking things.

I see. I guess I can see how that sort of makes sense although I'm not totally convinced that it's necessary yet.

23.04.2015 22:43, William Pitcock пишет:
> which would be a step in the direction of allowing prefixless channels
> at some point in the distant future

Why would you need that?


@DarthGandalf my rationale is mostly for the sake of correctness (lack of invariants in the protocol).  that prefixless channels is something that could be obtained for free once the invariants are removed is just a footnote :)

Don't forget to add the `obnoxious` intent for servers/services that insist on nick highlighting you whenever you connect.

In all seriousness, the various uses of NOTICE and how different clients decide to treat them should probably be documented somehow. I'll try to remember to write something up on how we deal with them tomorrow.

@jwheare I would like to see some other types of intent (e.g. `log` for snotices) but for the purpose of this issue I have only documented the ones which are direct replacements for NOTICE behaviour.

@SaberUK yup, and there are many more that you didn't mention.

Here's the sort of notices we've seen at IRCCloud and how we handle them. Note: we don't do the thing where a notice is spewed into whichever buffer you're currently looking at, we use timed overlays instead.

https://github.com/irccloud/irccloud-tools/wiki/Notice-handling

:+1: for replacing `NOTICE` with `@intent=no-reply`
:-1: for `PUBLIC` and `PRIVATE`.

If a message is sent in a channel context but only to certain users (e.g. `MESSAGE @#example :Hello chanops!`) should that be `PUBLIC` (since it's in a channel context) or `PRIVATE` (since it's only sent to a subset of users)?

Consider that one can also send the same message to a channel and a user at the same time (e.g. `PRIVMSG #social,best_friend :brb, going to hospital my wife just gave birth`) - would that have to be split in to two messages (a `PUBLIC` one and a `PRIVATE` one)?

re: `no-reply`: I don't think anyone particularly cares about this property in most of the use cases for NOTICE, it's a side-effect at best. Still could be a valid intent, but not a primary one.

re: `whisper`: likewise, no one cares, people send NOTICE because they think their message is more important than a PRIVMSG and should be shouted, not whispered. Showing it inline in whatever buffer you're in is an anti-pattern imo, and clients differ greatly in how they choose to emphasise NOTICE.

The reasons people send NOTICE seems to fall into the following categories (copied from the linked wiki)

* Notifications set up by a channel maintainer
* Global announcements from a server admin
* Standard connection handshake
* Notifications about a personal account or connection
* Response to a query
* On-join/on-connect messaging/advertising

It seems to me that these could correspond loosely to standard log levels, so maybe intents such as `debug`, `info`, `warning`, `error` might make more sense, as well as perhaps `response` and `announce`

The tags should primarily reflect the *intent*ion of the sender, rather than encoding side-effects or expectations that are open to interpretation.

>re: no-reply: I don't think anyone particularly cares about this property in most of the use cases for NOTICE, it's a side-effect at best. Still could be a valid intent, but not a primary one.

Its main use is for bots so you don't have an automatic response loop e.g.

```
→ RandomLuser has joined #chat
<BotOne> Hello RandomLuser!
<BotTwo> Hello BotOne.
<BotOne> Hello BotTwo!
<BotTwo> Hello BotOne.
<BotOne> Hello BotTwo!
<BotTwo> Hello BotOne.
<BotOne> Hello BotTwo!
<BotTwo> Hello BotOne.
<BotOne> Hello BotTwo!
[etc]
```


Yup it has a use, but it's not commonly taken advantage of. Most bots in channels I use speak in PRIVMSG anyway. Only place I can think that it's consistently relied on is CTCP.

Speaking as a bot maintainer, I don't use notices for bot output due to client formatting issues, particularly for private output (which usually appears in the client's server status window, not in queries). From that viewpoint, replacing notices with intents is a significant improvement since `@intent=noreply` would not affect the formatting or clientside destination of the message.

I have to agree with @Aerdan re the bot side of things. My bot doesn't use NOTICE because if I use that it automatically pings/alerts most of the users in the channel instead of just displaying it like a privmsg, which annoys everyone.

I do like the idea of an 'announce' intent, to do the alerting that most clients show NOTICE messages with.

I think the consensus appears to be leaning towards replacing NOTICE with a set of intents, instead of PUBLIC/PRIVATE verbs, for backwards compatibility reasons.

This leaves the question of which intents should be converted to NOTICE and which ones shouldn't.  I think @jwheare has a list of areas they've seen NOTICE in irccloud, so this could be helpful for determining both the hints and the downgrade rules for legacy clients.

Is IRCv3 supposed to be backwards compatible, and if so, are intents downgraded (say, to plain `NOTICE`) in case the client doesn't support them?

For people interested in historical documents, ircd2.1.1 had distinguished between `MSG` (message to the channel a user is joined to) and `PRIVMSG` (message with an explicit target), but there were others as well, like `GRAPH` (which would send a graphics message, but it's unspecified what that means), `XTRA` messages (which are client specific) and `SEND` messages which would send files through ircd. Also they had some sort of trivia game patch right inside ircd.
See https://paste.xinu.at/Anu/ and http://www.irc.org/ftp/irc/org/Old/irc2.1/irc2.1.1.tar.Z in case you're curious.

@wilhelmy the level of backwards compatibility is debatable.  with intents, the backwards compatibility rules depend on the specific intents themselves.  for example, `@intent=action` would downgrade to a CTCP ACTION message.  other types of intents may not downgrade at all.  i do suspect the class of intents being discussed here would downgrade to a NOTICE, however.

>for example, i do not really think we can downgrade an SDP/ICE message to a DCC message

I wonder if it might be wise for us to define a unified way of telling a client that something it sent to another user can not be delivered due to compatibility problems (e.g. the remote not supporting message tags and there being nothing to translate to). Just dropping it at the server seems kinda unwise.

Probably.  Stuff like that is why the intents framework was pushed back to 3.3 though ;)

I'm not sure I understand renaming commands for the sake of renaming commands.  These commands are pretty much all hidden from the user.  Selecting how to display should be a client side decision.  As far as mangling intents into NOTICE, this seems like a lot of overhead for the ircd.  Also mangling intents into CTCP notices, just seems like a bad idea.  CTCP is a client/client thing, something the ircd should be transparent to, imho



If you downgrade all MESSAGEs with the ```no-reply``` intent to NOTICEs, and I use it on all channel messages to stop bots responding to me, then suddenly all my channel messages look like NOTICEs.

Note: CTCP uses PRIVMSG for requests and NOTICE for reply, should these be replaced with an explicit CTCP command instead of continuing to include it within normal messages?

IRC servers are already not transparent to CTCP, because you can filter out channel-wide CTCPs that are not ACTION.

> Note: CTCP uses PRIVMSG for requests and NOTICE for reply, should these be replaced with an explicit CTCP command instead of continuing to include it within normal messages?

I believe CTCP is already being replaced by their own message intents.

Closing via #270